<div>
    <br>
    <div class="container">
        <img src="../assets/img/4.png" class="center">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"></span>
            </div>
            <input type="text" class="form-control" placeholder="Encuentra el curso que estas buscando" aria-label="Buscar" aria-describedby="basic-addon1">
        </div>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Introduccion a UML </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Inteligencia Artificial </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Seguridad</p>
                    </div>
                </div>
            </div>
        </div>
    </div>