<div class="example-container">
    <h1>Crear Curso</h1>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre del Curso">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Descripción "></textarea>
    </mat-form-field>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field>
                <textarea matInput placeholder="Duracion del Curso "></textarea>
            </mat-form-field>
        </div>

    </div>
</div>