<div class="main-content">
    <div class="container-fluid">
        <div class="row grid">
            <div class="col-lg-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Inteligencia Artifical</mat-card-title>
                        <mat-card-subtitle>Curso de IA con Python</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/ia.jpg" class="img-card">
                    <mat-card-content>
                        <p>
                            Impoartido por el Profesor Bonilla en al Alpha 3
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-lg-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Blender</mat-card-title>
                        <mat-card-subtitle>Curso de modelado en 3D con Blender</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/blender.jpg" class="img-card">
                    <mat-card-content>
                        <p>
                            Impoartido por el Profesor Bonilla en al Alpha 3
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <P>Lunes 3 de noviembre en el Beta 3</P>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-lg-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Ionic</mat-card-title>
                        <mat-card-subtitle>Curso de Ionic para apps multiplataforma</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/ionic.png" class="img-card">
                    <mat-card-content>
                        <p>
                            Impoartido por el Profesor Bonilla en al Alpha 3
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <br>
            <div class="col-lg-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Angular</mat-card-title>
                        <mat-card-subtitle>Curso de Angular para SPA</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/angular3.png" class="img-card">
                    <mat-card-content>
                        <p>
                            Impoartido por el Profesor Bonilla en al Alpha 3
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>